#Repo Dependancy
app_storefront_core
app_storefront_richUI
app_fluid

#Eclipse Demandware
.DS_Store
.metadata
.prefs
DemandwareServer*
cartridges/DemandwareServer*

# Build tool workspaces
.grunt
.sass-cache
node_modules
.log
*.sublime-workspace

# Guarantee that this file is always there
!.gitignore