#Repo Dependancy
fluidstorefront
sitegenesis
custom-compile
custom-compress

#Eclipse Demandware
.DS_Store
.metadata
.prefs
DemandwareServer*
cartridges/DemandwareServer*

# Build tool workspaces
.grunt
.sass-cache
node_modules
.log
*.sublime-project
*.sublime-workspace

# Guarantee that this file is always there
!.gitignore